<div class="depo-card">
    <h2>#<%= depoId %></h2>
    <ul class="depo-details card">
        <li>SDM: <%= SDM %></li>
        <li>Właściciel: <%= holder %></li>
        <li>Przyjęto przez: <%= keeper %></li>
        <li>Przyjęto dnia: <%= registeredAt %></li>
        <li>Odbiór do dnia: <%= validTo %></li>
        <li>Zawartość: <%= content %></li>
    </ul>    
</div>