<html>
    <head>
        <%- include('./common/head') %>
        
        <%-
        '<style>'
        + include('./common/style.css')
        +'</style>'
        %>

    </head>
    <body>
        <%- include('./common/topbar') %>

        <div class="container">

            <h1>Depo #ID <%= depoId %></h1>
            <p lang="pl">
                Twój depozyt został zaktualizowany. Sprawdź poprawność poniższych danych. Jeśli coś się nie zgadza
                skontaktuj się znami pod poniższym adresem:<br>
                <a href="mailto:<%= orgMail %>"><%= orgMail %></a>. <br>
            </p>
            
            <%- include('./common/depo-card') %>
            
            <p lang="pl">
                Pozdrawiamy <br> <br>
                
                Parlament Studentów Politechniki Morskiej <br>
                Komisja ds. Mieszkaniowych
            </p>
        </div>

        <%- include('./common/beta-warning') %>
        
        <%- include('./common/footer') %>
    </body>
    
    </html>